#accueil_container {
    // Styles communs et mobiles en premier

    #banner_container {
        flex-direction: column-reverse;
        row-gap: $spacing-small;

        img {
            width: 250px;
            height: 166px;
        }
    }

    #services_container {
        #services {
            gap: 30px;

            .service_card {
                width: 80%;
            }
        }
    }

    #competences_container {
        justify-content: flex-start;

        .competence_card {
            width: 80%;
        }
    }

    #adaptation_container {
        flex-direction: column;
        gap: $spacing-small;
    }

    #pourquoi_nous_container {
        text-align: center;

        #pourquoi_nous {
            justify-content: center;

            .pourquoi_nous_card {
                width: 80%;
            }
        }
    }

    // Règles pour des écrans plus grands
    @media screen and (min-width: 601px) {
        #banner_container {
            flex-direction: row;
        }

        #adaptation_container {
            flex-direction: row;
        }
    }

    @media screen and (min-width: 701px) {
        #services_container {
            #services {
                .service_card {
                    width: 40%;
                }
            }
        }

        #competences_container {
            .competence_card {
                width: 40%;
            }
        }

        #pourquoi_nous_container {
            #pourquoi_nous {
                .pourquoi_nous_card {
                    width: 40%;
                }
            }
        }
    }

    @media screen and (min-width: 801px) {
        #banner_container {
            img {
                width: 450px;
                height: 300px;
            }
        }

        #services_container {
            #services {
                .service_card {
                    width: 20%;
                }
            }
        }

        #competences_container {
            .competence_card {
                width: 30%;
            }
        }

        #pourquoi_nous_container {
            #pourquoi_nous {
                .pourquoi_nous_card {
                    width: 30%;
                }
            }
        }
    }
}
