#accueil_container {
    #banner_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $spacing_large;

        #banner_text {
            display: flex;
            flex-direction: column;
            gap: $spacing_small;
            color: $secondary-color;

            h2 {
                font-family: $main-font;
            }

            p {
                font-family: $secondary-font;
            }

            #banner_cta {
                display: inline-block;
                gap: $spacing-small;
            }
        }

        img {
            width: 450px;
            height: 300px;
        }

        @media screen and (max-width: 800px) {
            img {
                width: 250px;
                height: 166px;
            }
        }
    }

    @media screen and (max-width: 800px) {
        #banner_container {
            row-gap: $spacing-small;
        }
    }

    @media screen and (max-width: 600px) {
        #banner_container {
            // flex-direction: column-reverse;
            img {
                display: none;
            }
        }
    }

    #services_container {
        h2 {
            color: $fourth-color;
            font-weight: bold;
            margin-bottom: 20px;
        }

        #services {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .service_card {
                width: 20%;

                *:not(:last-child) {
                    margin-bottom: 5px;
                }

                // img {
                //     width: 90px;
                // }
            }

            @media screen and (max-width: 800px) {
                .service_card {
                    width: 40%;
                }
            }
        }

        @media screen and (max-width: 700px) {
            #services {
                gap: 30px;

                .service_card {
                    width: 80%;
                }
            }
        }
    }

    #competences_container {
        color: $secondary-color;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .competence_card {
            width: 30%;

            h3 {
                margin-bottom: 5px;
            }
        }

    }

    @media screen and (max-width: 800px) {
        #competences_container {
            justify-content: space-evenly;
            row-gap: $spacing-medium;

            .competence_card {
                width: 40%;
            }
        }
    }

    @media screen and (max-width: 700px) {
        #competences_container {
            justify-content: flex-start;

            .competence_card {
                width: 80%;
            }
        }
    }

    #adaptation_container {
        display: flex;
        align-items: flex-start;

        #adaptation_text {

            *:not(:last-child) {
                margin-bottom: 10px;
            }

            h2 {
                color: $fourth-color;
            }
        }

        img {
            width: 400px;
            height: 266px;
        }

    }

    @media screen and (max-width: 800px) {
        #adaptation_container {
            align-items: center;

            img {
                width: 250px;
                height: 166px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        #adaptation_container {
            flex-direction: column;
            gap: $spacing-small;
        }
    }

    #citation_container {
        display: flex;
        justify-content: space-between;
        gap: $spacing-large;
        color: $secondary-color;

        .citation-card {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                // width: 60px;
                border-radius: 50%;
            }
        }
    }

    #pourquoi_nous_container {

        h2 {
            color: $fourth-color;
            font-weight: bold;
            margin-bottom: 20px;
        }

        #pourquoi_nous {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .pourquoi_nous_card {
                width: 30%;

                *:not(:last-child) {
                    margin-bottom: 5px;
                }

                // img {
                //     width: 90px;
                // }
            }
        }

        @media screen and (max-width: 800px) {
            #pourquoi_nous {
                justify-content: space-evenly;
                gap: $spacing-medium;

                .pourquoi_nous_card {
                    width: 40%;
                    text-align: center;
                }
            }
        }
    }

    @media screen and (max-width: 700px) {
        #pourquoi_nous_container {
            text-align: center;

            #pourquoi_nous {
                justify-content: center;

                .pourquoi_nous_card {
                    width: 80%;
                }
            }
        }
    }

    #passez_le_cap_container {
        color: $secondary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $spacing-small;
    }
}
