#contact_container {

    h1 {
        padding-block: $spacing-medium;
        font-family: $main-font;
        color: $secondary-color;
        background-color: $third-color;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        max-width: 500px;
        margin: $spacing-large auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    label {
        color: $fourth-color;
        font-family: $secondary-font;
        margin-bottom: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-bottom: $spacing-small;
    }

    input[type="submit"] {
        outline: none;
        border: none;
        font-size: 1.5rem;

        &:hover {
            background-color: darken($third-color, 10%);
        }
    }

    @media screen and (max-width: 800px) {

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 90%;
            margin-bottom: 5px;
        }
    }
}