<footer class="sizer">
    <p>Copyright © 2023 HP Web Solutions SASU. Tous droits réservés.</p>
    <div id="links">
        <a href="/mentions_legales">Mentions Légales</a>
        <a href="/cgu">CGU</a>
    </div>
</footer>