<div id="accueil_container">
    <div class="orange_plate">
        <div id="banner_container" class="sizer">
            <div id="banner_text">
                <h2>Si vous voulez briller, faites-le avec les meilleurs.</h2>
                <p>Alliant maîtrise technique et transparence, HP Web Solutions est votre partenaire digital de confiance.Visez l'inatteignable, nous l'atteindrons.</p>
                <div id="banner_cta">
                    <a href="tel:+33622246688" class="main-cta cta">06 22 24 66 88</a>
                    <a href="mailto:contact@hpwebsolutions.fr" class="secondary-cta cta">contact@hpwebsolutions.fr</a>
                </div>
            </div>

            <img src="<%= asset_path 'hero-illustration.png' %>" alt="Illustration de création de site web.">
        </div>
    </div>

    
</div>
