<%# <div id="nos_realisations_container">
    <h2>Nos realisations</h2>
</div> %>
<% 
@contact = Contact.new({
    name: 'Hugo Petament',
    email: 'h.petament@icloud.com',
    phone: '0622246688',
    project_description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum harum magnam, perferendis labore, ut rerum vero quidem blanditiis dicta sapiente modi nihil tenetur facilis delectus totam distinctio possimus nostrum mollitia maiores repellendus consequuntur debitis cum? Quis atque tempora nobis nulla earum incidunt sint, repudiandae eveniet blanditiis in adipisci at porro!'
})
%>
