<div class="mail_container">
    <img class="logo" src="cid:logo-min.png" alt="Logo de HP Web Solutions" width="300">
    <p>Nom et Prénom: <strong><%= @contact.name %></strong></p>
    <p>Adresse e-mail: <strong><%= @contact.email %></strong></p>
    <p>Numéro de téléphone: <strong><%= @contact.phone %></strong></p>
    <p>Description du projet:<br><br> <%= @contact.project_description %></p>
</div>

<style>
    .mail_container, .x_mail_container {
        width: 500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-item: center;
        gap: 15px;
        text-align: center;
    }
    .logo {
        width: 300px;
        margin: auto;
    }
</style>