@import "variables";
@import "components/*";
@import "pages/*";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $secondary-font;
    font-display: swap;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: $main-font;
}

#logo-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 300px;
        height: 79px;
    }

    .menu_icon {
        width: 64px;
        height: 50px;
    }

    nav {
        ul {
            display: flex;
            gap: 30px;

            li {
                list-style-type: none;

                a {
                    color: $fourth-color;
                    text-decoration: none;
                    font-weight: bold;
                    font-family: $main-font;
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        nav {
            background-color: $secondary-color;
            position: absolute;
            top: 135px;
            right: 7px;
            width: 0; // Initial state, hidden
            padding: 0; // Keep the vertical padding but start with 0 horizontal padding
            overflow: hidden; // Hide the content that exceeds the width
            transition: width 0.5s ease, padding 0.5s ease; // Transition for width and padding

            ul {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #logo-nav-container {
        padding: $spacing-small;
    }

    #logo-nav-container .opened {
        width: 170px; // or adjust as per design
        padding: $spacing-small; // Restore padding when opened
        border: 1px solid #1D638F;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        z-index: 1;
    }
}

@media screen and (max-width: 650px) {
    #logo-nav-container {
        padding: 6px 12px;

        .menu_icon {
            width: 50px;
            height: 47px;
        }

        nav {
            top: 100px;
        }
    }
}

@media screen and (max-width: 410px) {
    #logo-nav-container {

        img {
            width: 260px;
            height: 68px;
        }
    }
}

@media screen and (min-width: 800px) {
    #logo-nav-container .menu_icon {
        display: none;
    }
}

.hidden {
    display: none;
}