@import "variables";
@import "components/*";
@import "pages/*";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $secondary-font;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: $main-font;
}

#logo-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 300px;
    }

    .menu_icon {
        width: 64px;
    }

    @media screen and (min-width: 800px) {
        .menu_icon {
            display: none;
        }
    }

    nav {
        ul {
            display: flex;
            gap: 30px;

            li {
                list-style-type: none;

                a {
                    color: $primary-color;
                    text-decoration: none;
                    font-family: $main-font;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #logo-nav-container {
        nav {
            background-color: $secondary-color;
            position: absolute;
            top: 120px;
            padding: $spacing-small;
            transition: .5s ease;
            
            ul {
                flex-direction: column;
            }
        }

        .opened {
            right: 0px;
        }

        .closed {
            right: -100%;
        }

        .hidden {
            display: none;
        }
    }
}