/* ---------- COLORS ---------- */
$primary-color: #000000;
$secondary-color: #ffffff;
// $third-color: #EB7541;
// $fourth-color: #1D638F;
$third-color: rgb(18, 107, 180);
$fourth-color: #cc501b;
/* ------- END COLORS ------- */

/* ---------- COLOR CLASSES ---------- */
.color-primary {
    color: $primary-color;
}

.color-secondary {
    color: $secondary-color;
}

.color-third {
    color: $third-color;
}

.color-fourth {
    color: $fourth-color;
}
/* ------- END COLOR CLASSES ------- */

/* ---------- BACKGROUND COLOR CLASSES ---------- */
.bg-primary {
    background-color: $primary-color;
}

.bg-secondary {
    background-color: $secondary-color;
}

.bg-third {
    background-color: $third-color;
}

.bg-fourth {
    background-color: $fourth-color;
}
/* ------- END BACKGROUND COLOR CLASSES ------- */

/* ---------- SPACING ---------- */
$spacing-unit: 16px;
$spacing-small: $spacing-unit * 1.5;
$spacing-medium: $spacing-unit * 2;
$spacing-large: $spacing-unit * 3;
/* ------- END SPACING ------- */

/* ---------- BORDER ---------- */
$border-width: 1px;
$border-radius: 4px;
/* ------- END BORDER ------- */

/* ---------- FONTS ---------- */
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Lato', sans-serif;
/* ------- END FONTS ------- */

$content-width: 1200px;